#main {
    display: flex;
    height: 100vh;
}

#cy {
    flex: 3;
    background: #f0f0f0;
    margin: 10px;
    border-radius: 20px;
}

#sidebar {
    flex: 1;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

#controls {
    display: flex;
    flex-direction: column;
}

#controls input,
#controls button,
#controls select {
    margin-bottom: 10px;
}

#code-panel {
    margin-top: 20px;
    height: 200px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    overflow-y: scroll;
}